:root {
  --font-size: 18px;
  --font-family: "Space Grotesk", sans-serif;

  --input-active-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --error-red: hsl(0, 100%, 66%);

  --light-gray-violet: hsl(270, 3%, 87%);
  --dark-gray-violet: hsl(279, 6%, 55%);
  --very-gray-violet: hsl(278, 68%, 11%);

  --border-radius: 6px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.layout {
  width: 90%;
  margin-inline: auto;
}

body {
  font-family: var(--font-family);
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

.page {
  width: 100%;
  display: grid;
}

.cards {
  --x-spacing: 10%;

  width: 100%;
  background-image: url("../images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* min-height: 15rem; */

  padding-block: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front__card{
  position: absolute;
  transform: translate(calc(var(--x-spacing) * -1), 55%);
}

.back__card {
  transform: translate(var(--x-spacing), 0);
}

.card__img {
  width: 100%;
  width: 260px;
}

.front__detail {
  width: 100%;
  padding: 1rem;
  color: white;
  position: absolute;
  bottom: 0;
}

.front__cc-number {
  font-size: 1.35rem;
  font-weight: 500;
}

.front__meta {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.back__cvc {
  position: absolute;
  color: white;
  right: 2.5rem;
  top: 4.3rem;
}

.detail-form {
  max-width: 400px;
  padding-block: 4rem;
  margin-inline: auto;
}

.detail-form__input-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-bottom: 1.5rem;
}

.detail-form__group {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.detail-form__label {
  text-transform: uppercase;

  letter-spacing: 0.1ch;
  font-size: 0.9rem;
  font-weight: 500;

  margin-bottom: 0.4rem;
}

.detail-form__input {
  --input-border-size: 2px;
  outline: none;

  width: 100%;
  padding: 0.5rem;
  padding-inline: 1rem;
  margin-bottom: 0.25rem;

  font-weight: 500;

  border: var(--light-gray-violet) var(--input-border-size) solid;
  border-radius: var(--border-radius);
}

.detail-form__input:focus-visible,
.detail-form__input:invalid:focus-visible {
  border: solid var(--input-border-size) transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.detail-form__input::placeholder {
  font-weight: 500;
  color: var(--dark-gray-violet);
}

.detail-form__input--invalid {
  border: solid var(--input-border-size) var(--error-red);
}

.detail-form__error-hint {
  color: var(--error-red);
  font-size: 0.85rem;
}

.button {
  border: none;
  width: 100%;

  font-weight: 500;
  font-size: var(--font-size);
}

.button:focus-visible {
  outline-offset: 0.25rem;
}

.button--default {
  border-radius: var(--border-radius);
  padding-block: 0.75rem;

  background-color: var(--very-gray-violet);
  color: white;
}

@media screen and (min-width: 1024px) {
  .page {
    grid-template-columns: repeat(6, 1fr);
  }

  .cards {
    --y-spacing: 55%;
    background-image: url("../images/bg-main-desktop.png");
    height: 100vh;
    grid-column: 1 / 3;
  }

  .card__img {
    width: 400px;
  }

  .front__card {
    transform: translate(10% , calc(var(--y-spacing) * -1));
  }

  .back__card {
    transform: translate(30% , var(--y-spacing));
  }

  .detail-form {
    place-self: center;
    grid-column: 3 / 7;
  }
}

@media screen and (min-width: 1200px) {
  .front__card {
    transform: translate(30% , calc(var(--y-spacing) * -1));
  }

  .back__card {
    transform: translate(50% , var(--y-spacing));
  }
}
