:root {
  --font-size: 18px;
  --font-family: "Space Grotesk", sans-serif;

  --input-active-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --error-red: hsl(0, 100%, 66%);

  --light-gray-violet: hsl(270, 3%, 87%);
  --dark-gray-violet: hsl(279, 6%, 55%);
  --very-gray-violet: hsl(278, 68%, 11%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-family: var(--font-family);
}

main {
  width: 100%;
  max-width: 90%;
  margin-inline: auto;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}